In [203]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [204]:
prices = pd.read_csv('order_book_data/merged_data/1min/eth_wbeth_combined_1m.csv', index_col=0, parse_dates=True)
prices = prices[['eth_mid_price','wbeth_mid_price']]

In [205]:
prices

                     eth_mid_price  wbeth_mid_price
local_timestamp
2024-06-01 00:00:00       3765.885         3916.525
2024-06-01 00:01:00       3763.005         3912.750
2024-06-01 00:02:00       3764.515         3915.350
2024-06-01 00:03:00       3765.815         3916.765
2024-06-01 00:04:00       3766.675         3918.100
...                            ...              ...
2024-12-31 23:55:00       3341.735         3534.665
2024-12-31 23:56:00       3340.645         3533.665
2024-12-31 23:57:00       3339.345         3532.305
2024-12-31 23:58:00       3338.415         3531.890
2024-12-31 23:59:00       3337.785         3530.340

[308051 rows x 2 columns]